<!DOCTYPE html>
<html>
<head>
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <title>Chartist | Dashboard </title>
</head>
<body>
  <div id = line class="ct-chart ct-double-octave"></div>
  <div id = bar  class="ct-chart ct-double-octave"></div>
  <div id = pie class="ct-chart ct-double-octave"></div>
  <script src="../static/js/app2.js"></script>
  <script src="../static/js/app3.js"></script>
  <script src="../static/js/app4.js"></script>

</body>
</html>
